
#include "resource.h"
#ifndef DS_SETFOREGROUND
	#define DS_SETFOREGROUND 0x200L
#endif
#ifndef RT_MANIFEST
	#define RT_MANIFEST 24
#endif

#include <winresrc.h>
#include <winuser.h>
#include "fileopen.dlg"
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "manifest.xml"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 0,1,8,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "kMonos.NET\0"
            VALUE "FileDescription", "GreenPad\0"
            VALUE "FileVersion", "#42\0"
            VALUE "InternalName", "kilib\0"
            VALUE "LegalCopyright", "Written by k.inaba 2002-2008\0"
            VALUE "OriginalFilename", "GreenPad.exe\0"
            VALUE "ProductName", "GreenPad\0"
            VALUE "ProductVersion", "1.10.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAIN                ICON                    "exefile.ico"

#if !defined(TARGET_VER) || (defined(TARGET_VER) && TARGET_VER>310)
/////////////////////////////////////////////////////////////////////////////
// 日本語 resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
#ifdef _WIN32
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "新規作成(&N)\tCtrl+N",        ID_CMD_NEWFILE
        MENUITEM SEPARATOR
        MENUITEM "開く(&O)...\tCtrl+O",         ID_CMD_OPENFILE
        MENUITEM "開き直す(&R)...\tCtrl+R",     ID_CMD_REOPENFILE
        MENUITEM SEPARATOR
        MENUITEM "保存(&S)\tCtrl+S",            ID_CMD_SAVEFILE
        MENUITEM "別名で保存(&A)...\tCtrl+Shift+S", ID_CMD_SAVEFILEAS
        MENUITEM SEPARATOR
        MENUITEM "印刷(&P)...\tCtrl+P",            ID_CMD_PRINT
        MENUITEM SEPARATOR
        POPUP "最近のファイル(&M)"
        BEGIN
            MENUITEM "(no files)",                  ID_MENUITEM40029, GRAYED
        END
        MENUITEM SEPARATOR
        MENUITEM "保存して終了(&I)\tCtrl+E", ID_CMD_SAVEEXIT
        MENUITEM "保存せずに終了(&D)\tCtrl+Shift+E", ID_CMD_DISCARDEXIT
        MENUITEM "終了(&X)",                    ID_CMD_EXIT
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "元に戻す(&U)\tCtrl+Z",        ID_CMD_UNDO
        MENUITEM "やり直す(&R)\tCtrl+Y",        ID_CMD_REDO
        MENUITEM SEPARATOR
        MENUITEM "切り取り(&X)\tCtrl+X",        ID_CMD_CUT
        MENUITEM "コピー(&C)\tCtrl+C",          ID_CMD_COPY
        MENUITEM "貼り付け(&P)\tCtrl+V",        ID_CMD_PASTE
        MENUITEM "削除(&D)\tDel",               ID_CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "全てを選択(&A)\tCtrl+A",      ID_CMD_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "日時の挿入(&T)\tF5",          ID_CMD_DATETIME
        MENUITEM SEPARATOR
        MENUITEM "再変換(&V)",              ID_CMD_RECONV
        MENUITEM "IME On/Off(&I)",          ID_CMD_TOGGLEIME
    END
    POPUP "検索(&S)"
    BEGIN
        MENUITEM "検索・置換(&F)\tCtrl+F",      ID_CMD_FIND
        MENUITEM "次を検索(&N)\tF3",            ID_CMD_FINDNEXT
        MENUITEM "前を検索(&P)\tShift+F3",      ID_CMD_FINDPREV
        MENUITEM SEPARATOR
        MENUITEM "指定行へジャンプ(&J)\tCtrl+J", ID_CMD_JUMP
        MENUITEM SEPARATOR
        MENUITEM "Grep(&G)...\tCtrl+G",         ID_CMD_GREP
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "折り返さない(&N)\tCtrl+1",    ID_CMD_NOWRAP
        MENUITEM "指定幅で折り返し(&W)\tCtrl+2", ID_CMD_WRAPWIDTH
        MENUITEM "右端で折り返し(&R)\tCtrl+3",  ID_CMD_WRAPWINDOW
        MENUITEM SEPARATOR
        POPUP "文書タイプ(&T)"
        BEGIN
            MENUITEM "(なし)",                      ID_MENUITEM40025, GRAYED
        END
        MENUITEM "設定(&S)...",                 ID_CMD_CONFIG
        MENUITEM SEPARATOR
        MENUITEM "ステータス バー(&B)",         ID_CMD_STATUSBAR
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPENFILEHOOK DIALOGEX 0, 0, 187, 34
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    LTEXT           "",1119,0,0,187,13,SS_SUNKEN | NOT WS_VISIBLE | NOT
                    WS_GROUP
    LTEXT           "文字コード(&C):",IDC_STATIC,7,18,42,8
    COMBOBOX        IDC_CODELIST,66,16,111,103,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
END

IDD_SAVEFILEHOOK DIALOGEX 0, 0, 187, 55
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    LTEXT           "",1119,0,0,187,13,SS_SUNKEN | NOT WS_VISIBLE | NOT
                    WS_GROUP
    LTEXT           "文字コード(&C):",IDC_STATIC,7,18,42,8
    COMBOBOX        IDC_CODELIST,66,16,111,103,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "改行コード(&L):",IDC_STATIC,7,37,41,8
    COMBOBOX        IDC_CRLFLIST,66,35,60,103,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
END

IDD_REOPENDLG DIALOG  0, 0, 187, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_VISIBLE |
    WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "開き直す"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    LTEXT           "文字コード(&C):",IDC_STATIC,9,13,42,8
    COMBOBOX        IDC_CODELIST,59,11,111,103,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    PUSHBUTTON      "OK",IDOK,66,32,56,14
    PUSHBUTTON      "キャンセル",IDCANCEL,125,32,56,14
END

IDD_FINDREPLACE DIALOG  0, 0, 316, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "検索・置換"
FONT 9, "ＭＳ ゴシック"
BEGIN
    LTEXT           "検索文字列(&T)：",IDC_STATIC,5,10,61,8
    EDITTEXT        IDC_FINDBOX,68,8,122,13,ES_AUTOHSCROLL
    LTEXT           "置換文字列(&W)：",IDC_STATIC,5,31,61,8
    EDITTEXT        IDC_REPLACEBOX,68,28,122,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "次を検索(&F)",ID_FINDNEXT,195,8,56,14
    PUSHBUTTON      "置換(&R)",ID_REPLACENEXT,195,27,56,14
    PUSHBUTTON      "前を検索(&E)",ID_FINDPREV,256,8,55,14
    PUSHBUTTON      "全置換(&A)",ID_REPLACEALL,255,27,56,14
    GROUPBOX        "オプション(&O)",IDC_STATIC,12,47,213,27
    CONTROL         "大文字小文字を区別しない(&I)",IDC_IGNORECASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,22,59,124,10
    CONTROL         "正規表現(&X)",IDC_REGEXP,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,153,58,60,10
    PUSHBUTTON      "閉じる",IDCANCEL,244,59,37,14
END

IDD_JUMP DIALOG  0, 0, 131, 43
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "指定行へジャンプ"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    DEFPUSHBUTTON   "&Go!",IDOK,87,12,25,14
    EDITTEXT        IDC_LINEBOX,14,13,40,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "行目へ",IDC_STATIC,61,15,22,8
END

#if !defined(TARGET_VER) || (defined(TARGET_VER) && TARGET_VER>350)
IDD_CONFIG DIALOGEX 0, 0, 287, 236
#else
IDD_CONFIG DIALOG 0, 0, 287, 236
#endif
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "エディタ設定"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    GROUPBOX        "共通設定",IDC_STATIC,7,11,273,102
    RTEXT           "[元に戻す]上限(&U):",IDC_STATIC,24,24,56,8
    CONTROL         "無限",IDC_UNDOLIM1,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,86,23,33,10
    CONTROL         "",IDC_UNDOLIM2,"Button",BS_AUTORADIOBUTTON,122,23,11,8
    EDITTEXT        IDC_UNDO_CT,134,21,24,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "回",IDC_STATIC,162,24,8,8
    RTEXT           "横位置の表示(&L):",IDC_STATIC,29,37,51,8
    CONTROL         "文字数",IDC_COUNTBYLETTER,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,86,36,33,10
    CONTROL         "表示位置",IDC_COUNTBYLETTER2,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,122,36,42,10
    RTEXT           "ﾌｧｲﾙ履歴件数(&H):",IDC_STATIC,19,50,62,8
    EDITTEXT        IDC_LATEST_NUM,86,48,32,12,ES_AUTOHSCROLL | ES_NUMBER
    RTEXT           "ﾌｧｲﾙ･ﾌｨﾙﾀ(&F):",IDC_STATIC,21,65,60,8
    EDITTEXT        IDC_TXTFILT,86,63,182,12,ES_AUTOHSCROLL
    RTEXT           "外部Grep(&G):",IDC_STATIC,21,80,60,8
    EDITTEXT        IDC_EXTGREP,86,78,182,12,ES_AUTOHSCROLL
    RTEXT           "新規ﾌｧｲﾙのﾓｰﾄﾞ(&N):",IDC_STATIC,9,94,73,8
    COMBOBOX        IDC_NEWCS,86,92,76,162,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    COMBOBOX        IDC_NEWLB,164,92,39,162,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    COMBOBOX        IDC_NEWDT,204,92,65,164,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "同じｳｲﾝﾄﾞｳで開く(&R)",IDC_OPENSAME,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,181,25,90,10
    CONTROL         "ｳｲﾝﾄﾞｳｻｲｽﾞを記憶(&S)",IDC_REMSIZE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,181,35,96,10
    CONTROL         "ｳｲﾝﾄﾞｳ位置を記憶(&P)",IDC_REMPLACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,181,45,94,10
    GROUPBOX        "文書ﾀｲﾌﾟ別設定",IDC_STATIC,7,118,274,92
    LISTBOX         IDC_DOCTYPELIST,15,133,88,53,LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "追加",IDC_NEWDOCTYPE,17,191,29,14
    PUSHBUTTON      "削除",IDC_DELDOCTYPE,48,191,29,14
    RTEXT           "ﾊﾟﾀｰﾝ:",IDC_STATIC,114,138,27,8
    EDITTEXT        IDC_DT_PAT,146,135,127,12,ES_AUTOHSCROLL
    RTEXT           "ｷｰﾜｰﾄﾞ:",IDC_STATIC,108,155,34,8
    COMBOBOX        IDC_PAT_KWD,146,152,75,172,CBS_DROPDOWNLIST | CBS_SORT |
                    CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "編集",IDC_EDITKWD,231,152,19,14
    RTEXT           "ﾚｲｱｳﾄ:",IDC_STATIC,111,172,31,8
    COMBOBOX        IDC_PAT_LAY,146,169,75,172,CBS_DROPDOWNLIST | CBS_SORT |
                    CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "編集",IDC_EDITLAY,231,169,19,14
    DEFPUSHBUTTON   "OK",IDOK,175,214,50,14
    PUSHBUTTON      "ｷｬﾝｾﾙ",IDCANCEL,230,214,50,14
END

IDD_ADDDOCTYPE DIALOG  0, 0, 123, 67
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文書タイプの追加"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    LTEXT           "名前(&N)：",IDC_STATIC,17,11,27,8
    EDITTEXT        IDC_NAME,46,8,69,12,ES_AUTOHSCROLL
    LTEXT           "拡張子(&E)：",IDC_STATIC,10,25,34,8
    EDITTEXT        IDC_EXT,46,24,69,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,33,43,34,14
    PUSHBUTTON      "ｷｬﾝｾﾙ",IDCANCEL,71,43,33,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_FINDREPLACE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 309
        TOPMARGIN, 7
        BOTTOMMARGIN, 77
    END

    IDD_JUMP, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 124
        TOPMARGIN, 7
        BOTTOMMARGIN, 36
    END

    IDD_CONFIG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 280
        TOPMARGIN, 7
        BOTTOMMARGIN, 228
    END

    IDD_ADDDOCTYPE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 116
        TOPMARGIN, 7
        BOTTOMMARGIN, 60
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ASKTOSAVE           "現在の文書を保存しますか？"
    IDS_APPNAME             "GreenPad"
    IDS_SAVEERROR           "ファイルの保存に失敗しました。"
    IDS_ALLFILES            "全てのファイル(*.*)"
    IDS_TXTFILES            "テキスト形式のファイル"
    IDS_OPENERROR           "ファイルを開くのに失敗しました。"
    IDS_DEFAULT             "(標準)"
    IDS_NOTFOUND            "見つかりませんでした。"
    IDS_REPLACEALLDONE      "%d箇所置換しました。"
    IDS_OKTODEL             "を削除してよろしいですか？"
END

#endif    // 日本語 resources
/////////////////////////////////////////////////////////////////////////////
#endif //TARGET_VER (Japaneese resources off on NT3.1)


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator (Language neutral)
//

IDR_MAIN ACCELERATORS
BEGIN
    "1",            ID_CMD_NOWRAP,          VIRTKEY, CONTROL, NOINVERT
    "2",            ID_CMD_WRAPWIDTH,       VIRTKEY, CONTROL, NOINVERT
    "3",            ID_CMD_WRAPWINDOW,      VIRTKEY, CONTROL, NOINVERT
    "A",            ID_CMD_SELECTALL,       VIRTKEY, CONTROL, NOINVERT
    "C",            ID_CMD_COPY,            VIRTKEY, CONTROL, NOINVERT
    "E",            ID_CMD_SAVEEXIT,        VIRTKEY, CONTROL, NOINVERT
    "E",            ID_CMD_DISCARDEXIT,     VIRTKEY, SHIFT, CONTROL, NOINVERT
    "F",            ID_CMD_FIND,            VIRTKEY, CONTROL, NOINVERT
    "G",            ID_CMD_GREP,            VIRTKEY, CONTROL, NOINVERT
    "H",            ID_CMD_FIND,            VIRTKEY, CONTROL, NOINVERT
    "J",            ID_CMD_JUMP,            VIRTKEY, CONTROL, NOINVERT
    "N",            ID_CMD_NEWFILE,         VIRTKEY, CONTROL, NOINVERT
    "O",            ID_CMD_OPENFILE,        VIRTKEY, CONTROL, NOINVERT
    "P",            ID_CMD_PRINT,           VIRTKEY, CONTROL, NOINVERT
    "R",            ID_CMD_REOPENFILE,      VIRTKEY, CONTROL, NOINVERT
    "S",            ID_CMD_SAVEFILE,        VIRTKEY, CONTROL, NOINVERT
    "S",            ID_CMD_SAVEFILEAS,      VIRTKEY, SHIFT, CONTROL, NOINVERT
    "V",            ID_CMD_PASTE,           VIRTKEY, CONTROL, NOINVERT
    "L",            ID_CMD_LOWERCASE,       VIRTKEY, ALT, NOINVERT
    "U",            ID_CMD_UPPERCASE,       VIRTKEY, ALT, NOINVERT
	"I",            ID_CMD_INVERTCASE,      VIRTKEY, ALT, NOINVERT
	"W",            ID_CMD_TTSPACES,        VIRTKEY, ALT, NOINVERT

    VK_ESCAPE,      ID_CMD_EXIT,            VIRTKEY, NOINVERT
    VK_DELETE,      ID_CMD_CUT,             VIRTKEY, SHIFT, NOINVERT
    VK_F3,          ID_CMD_FINDNEXT,        VIRTKEY, NOINVERT
    VK_F3,          ID_CMD_FINDPREV,        VIRTKEY, SHIFT, NOINVERT
    VK_F4,          ID_CMD_EXIT,            VIRTKEY, CONTROL, NOINVERT
    VK_F5,          ID_CMD_REFRESHFILE,     VIRTKEY, NOINVERT
    VK_F6,          ID_CMD_DATETIME,        VIRTKEY, NOINVERT
    VK_F12,         ID_CMD_SAVEFILEAS,      VIRTKEY, NOINVERT
    VK_INSERT,      ID_CMD_COPY,            VIRTKEY, CONTROL, NOINVERT
    VK_INSERT,      ID_CMD_PASTE,           VIRTKEY, SHIFT, NOINVERT
    VK_RETURN,      ID_CMD_REOPENFILE,      VIRTKEY, ALT, NOINVERT
    VK_TAB,         ID_CMD_NEXTWINDOW,      VIRTKEY, CONTROL, NOINVERT
    VK_TAB,         ID_CMD_PREVWINDOW,      VIRTKEY, SHIFT, CONTROL, NOINVERT
    "X",            ID_CMD_CUT,             VIRTKEY, CONTROL, NOINVERT
    "Y",            ID_CMD_REDO,            VIRTKEY, CONTROL, NOINVERT
    "Z",            ID_CMD_UNDO,            VIRTKEY, CONTROL, NOINVERT
END

/////////////////////////////////////////////////////////////////////////////
// 英語 (米国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New File\tCtrl+N",           ID_CMD_NEWFILE
        MENUITEM SEPARATOR
        MENUITEM "&Open...\tCtrl+O",            ID_CMD_OPENFILE
        MENUITEM "&ReOpen...\tCtrl+R",          ID_CMD_REOPENFILE
		MENUITEM "Re&fresh\tF5"                 ID_CMD_REFRESHFILE
        MENUITEM SEPARATOR
        MENUITEM "&Save\tCtrl+S",               ID_CMD_SAVEFILE
        MENUITEM "Save &As...\tCtrl+Shift+S",   ID_CMD_SAVEFILEAS
        MENUITEM SEPARATOR
        MENUITEM "&Print...\tCtrl+P",              ID_CMD_PRINT
        MENUITEM SEPARATOR
        POPUP "R&ecent Files"
        BEGIN
            MENUITEM "(no files)",                  ID_MENUITEM40030, GRAYED
        END
        MENUITEM SEPARATOR
        MENUITEM "Save and Ex&it\tCtrl+E",   ID_CMD_SAVEEXIT
        MENUITEM "&Discard and Exit\tCtrl+Shift+E",   ID_CMD_DISCARDEXIT
        MENUITEM "E&xit",                       ID_CMD_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",               ID_CMD_UNDO
        MENUITEM "&Redo\tCtrl+Y",               ID_CMD_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cut\tCtrl+&X",                ID_CMD_CUT
        MENUITEM "&Copy\tCtrl+C",               ID_CMD_COPY
        MENUITEM "&Paste\tCtrl+V",              ID_CMD_PASTE

        MENUITEM "&Delete\tDel",                ID_CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A",         ID_CMD_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Insert Date&&&Time\tF6",      ID_CMD_DATETIME
        MENUITEM SEPARATOR
        MENUITEM "Upper Ca&se\tAlt+U",          ID_CMD_UPPERCASE
        MENUITEM "&Lower Case\tAlt+L",          ID_CMD_LOWERCASE
        MENUITEM "I&nvert Case\tAlt+I",         ID_CMD_INVERTCASE
		MENUITEM "Tri&m Trailing Spaces\tAlt+W",ID_CMD_TTSPACES
        MENUITEM SEPARATOR
        MENUITEM "Recon&version",               ID_CMD_RECONV
        MENUITEM "&IME On/Off",                 ID_CMD_TOGGLEIME
    END
    POPUP "&Search"
    BEGIN
        MENUITEM "&Find\tCtrl+F",               ID_CMD_FIND
        MENUITEM "Find &Next\tF3",              ID_CMD_FINDNEXT
        MENUITEM "Find &Prev\tShift+F3",        ID_CMD_FINDPREV
        MENUITEM SEPARATOR
        MENUITEM "&Jump to Line\tCtrl+J",       ID_CMD_JUMP
        MENUITEM SEPARATOR
        MENUITEM "&Grep...\tCtrl+G",            ID_CMD_GREP
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&No wrapping\tCtrl+1",        ID_CMD_NOWRAP
        MENUITEM "&Wrap at #th letter\tCtrl+2", ID_CMD_WRAPWIDTH
        MENUITEM "Wrap at &Right Edge\tCtrl+3", ID_CMD_WRAPWINDOW
        MENUITEM SEPARATOR
        POPUP "&Document Type"
        BEGIN
            MENUITEM "dummy",                       ID_MENUITEM40025
        END
        MENUITEM "&Settings...",                ID_CMD_CONFIG
        MENUITEM SEPARATOR
        MENUITEM "Status&Bar",                  ID_CMD_STATUSBAR
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SAVEFILEHOOK DIALOGEX 0, 0, 187, 55
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 9, "MS Sans Serif"
BEGIN
    LTEXT           "",1119,0,0,187,13,SS_SUNKEN | NOT WS_VISIBLE | NOT
                    WS_GROUP
    LTEXT           "&Character Encoding:",IDC_STATIC,6,18,70,8
    COMBOBOX        IDC_CODELIST,76,16,120,103,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Line ending:",IDC_STATIC,6,37,70,8
    COMBOBOX        IDC_CRLFLIST,76,35,60,103,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_REOPENDLG DIALOG  0, 0, 187, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_VISIBLE |
    WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "ReOpen File"
FONT 9, "MS Sans Serif"
BEGIN
    LTEXT           "&Character Encoding:",IDC_STATIC,4,13,68,8
    COMBOBOX        IDC_CODELIST,70,11,112,103,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "OK",IDOK,66,32,56,14
    PUSHBUTTON      "Cancel",IDCANCEL,125,32,56,14
END

IDD_OPENFILEHOOK DIALOGEX 0, 0, 187, 34
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 9, "MS Sans Serif"
BEGIN
    LTEXT           "",1119,0,0,187,13,SS_SUNKEN | NOT WS_VISIBLE | NOT WS_GROUP
    LTEXT           "&Character Encoding:",IDC_STATIC,4,18,68,8
    COMBOBOX        IDC_CODELIST,76,16,120,103,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
END

IDD_JUMP DIALOG  0, 0, 131, 43
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "Jump To"
FONT 9, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Go!",IDOK,83,13,25,14
    EDITTEXT        IDC_LINEBOX,34,14,40,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "&Line",IDC_STATIC,17,16,13,8
END

IDD_FINDREPLACE DIALOG  0, 0, 282, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "Find & Replace"
FONT 9, "MS Sans Serif"
BEGIN
    LTEXT           "&Text to Find:",IDC_STATIC,7,10,38,8
    EDITTEXT        IDC_FINDBOX,56,7,123,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&Find",ID_FINDNEXT,185,8,43,14
    PUSHBUTTON      "Find&Prev",ID_FINDPREV,232,8,43,14
    LTEXT           "Replace &with:",IDC_STATIC,7,31,40,8
    EDITTEXT        IDC_REPLACEBOX,56,28,123,13,ES_AUTOHSCROLL
    PUSHBUTTON      "&Replace",ID_REPLACENEXT,185,27,43,14
    PUSHBUTTON      "Replace&All",ID_REPLACEALL,232,27,43,14
    GROUPBOX        "&Options",IDC_STATIC,12,47,181,27
    CONTROL         "&Ignore Case",IDC_IGNORECASE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,22,59,51,10
    CONTROL         "Regular E&xpression",IDC_REGEXP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,114,58,73,10
    PUSHBUTTON      "Close",IDCANCEL,244,59,29,14
END

IDD_ADDDOCTYPE DIALOG  0, 0, 123, 67
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New DocType"
FONT 9, "MS Sans Serif"
BEGIN
    LTEXT           "&Name:",IDC_STATIC,22,11,19,8
    EDITTEXT        IDC_NAME,46,8,69,12,ES_AUTOHSCROLL
    LTEXT           "&Extension:",IDC_STATIC,10,25,34,8
    EDITTEXT        IDC_EXT,46,24,69,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,33,43,34,14
    PUSHBUTTON      "Cancel",IDCANCEL,71,43,33,14
END

#if !defined(TARGET_VER) || (defined(TARGET_VER) && TARGET_VER>350)
IDD_CONFIG DIALOGEX 0, 0, 287, 236
#else
IDD_CONFIG DIALOG 0, 0, 287, 236
#endif
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Config"
FONT 9, "MS Sans Serif"
BEGIN
    GROUPBOX        "Common",IDC_STATIC,7,7,273,106
    RTEXT           "&Undo:",IDC_STATIC,62,21,25,8
    CONTROL         "Infinite",IDC_UNDOLIM1,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,88,20,33,10
    CONTROL         "",IDC_UNDOLIM2,"Button",BS_AUTORADIOBUTTON,124,20,11,8
    EDITTEXT        IDC_UNDO_CT,135,18,24,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "times",IDC_STATIC,163,21,17,8
    RTEXT           "&Column by:",IDC_STATIC,46,33,40,8
    CONTROL         "Letters",IDC_COUNTBYLETTER,"Button",BS_AUTORADIOBUTTON |
                    WS_GROUP | WS_TABSTOP,88,33,33,10
    CONTROL         "Positions",IDC_COUNTBYLETTER2,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,124,33,49,10
    RTEXT           "M&RU File Num:",IDC_STATIC,34,45,52,8
    EDITTEXT        IDC_LATEST_NUM,88,43,32,12,ES_AUTOHSCROLL | ES_NUMBER
    RTEXT           "TextFile &Filter:",IDC_STATIC,36,61,51,8
    EDITTEXT        IDC_TXTFILT,88,59,176,12,ES_AUTOHSCROLL
    RTEXT           "Extrenal &Grep Program:",IDC_STATIC,10,77,76,8
    EDITTEXT        IDC_EXTGREP,88,75,176,12,ES_AUTOHSCROLL
    RTEXT           "&New File Mode:",IDC_STATIC,34,92,53,8
    COMBOBOX        IDC_NEWCS,88,90,76,167,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    COMBOBOX        IDC_NEWLB,166,90,39,166,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    COMBOBOX        IDC_NEWDT,206,90,65,165,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "Open in Same &Window",IDC_OPENSAME,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,186,19,90,10
    CONTROL         "Remember Window &Size",IDC_REMSIZE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,186,31,92,10
    CONTROL         "Remember Window &Pos",IDC_REMPLACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,186,43,90,10
    GROUPBOX        "Document Types",IDC_STATIC,6,118,274,92
    LISTBOX         IDC_DOCTYPELIST,14,133,89,53,LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Add",IDC_NEWDOCTYPE,17,191,29,14
    PUSHBUTTON      "Del",IDC_DELDOCTYPE,50,191,29,14
    RTEXT           "Pattern:",IDC_STATIC,117,138,27,8
    EDITTEXT        IDC_DT_PAT,149,135,123,12,ES_AUTOHSCROLL
    RTEXT           "Keyword:",IDC_STATIC,114,155,31,8
    COMBOBOX        IDC_PAT_KWD,149,152,72,172,CBS_DROPDOWNLIST | CBS_SORT |
                    CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "edit",IDC_EDITKWD,229,151,19,14
    RTEXT           "Layout:",IDC_STATIC,118,172,28,8
    COMBOBOX        IDC_PAT_LAY,149,169,72,172,CBS_DROPDOWNLIST | CBS_SORT |
                    CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "edit",IDC_EDITLAY,229,169,19,14
    DEFPUSHBUTTON   "OK",IDOK,175,215,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,230,215,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_JUMP, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 124
        TOPMARGIN, 7
        BOTTOMMARGIN, 36
    END

    IDD_FINDREPLACE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 275
        TOPMARGIN, 7
        BOTTOMMARGIN, 77
    END

    IDD_ADDDOCTYPE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 116
        TOPMARGIN, 7
        BOTTOMMARGIN, 60
    END

    IDD_CONFIG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 280
        TOPMARGIN, 7
        BOTTOMMARGIN, 229
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ASKTOSAVE           "Do you want to Save the current file ?"
    IDS_APPNAME             "GreenPad"
    IDS_SAVEERROR           "Could not save file:"
    IDS_ALLFILES            "All Files(*.*)"
    IDS_TXTFILES            "Text Files"
    IDS_OPENERROR           "Could not open file:"
    IDS_DEFAULT             "(default)"
    IDS_NOTFOUND            "Not Found."
    IDS_REPLACEALLDONE      "%d times Replaced."
    IDS_OKTODEL             " will be removed. OK?"
END

#endif    // 英語 (米国) resources
/////////////////////////////////////////////////////////////////////////////
